<!-- Container Fluid-->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="container-fluid" id="container-wrapper">
  <div class="row d-flex">
    <div class="col-md-12">
      <div class="card my-2">
        <!-- Header -->
        <div class="card-header p-4 border-0 pt-5">
          <div class="card-toolbar d-flex justify-content-between">
            <ul class="nav nav-pills ml-2 nav-pills-sm nav-dark-75">
              <li class="nav-item">
                <span class="mr-2">{{data.length}} élement(s)</span>
              </li>
              <li class="nav-item">
                <form>
                  <div class="form-group form-inline">
                    <input class="form-control form-control-sm" placeholder="Rechercher...." type="text"
                      [(ngModel)]="search_text" name="search_text" />
                  </div>
                </form>
              </li>
              <li class="nav-item"></li>
            </ul>
            <div>
              <button class="btn btn-sm bg-mat-primary text-white" (click)="openAddModal(content)">
                Ajouter un utilisateur
              </button>
            </div>
          </div>
        </div>
        <!-- Body -->
        <div class="card-body pt-3 pb-0">
          <!--begin::Table-->
          <div class="table-responsive">
            <table class="table table-striped datatable table-head-custom table-vertical-center" id="kt_datatable">
              <thead>
                <tr>
                  <td class="left text-left" colspan="9">
                    <button (click)="openEditModal(contentU)" class="mx-1 btn btn-sm bg-mat-primary text-white">
                      Modifier
                    </button>
                    <button (click)="archive()" class="btn mx-1 btn-sm btn-danger">
                      Supprimer
                    </button>
                    <button *ngIf="is_active != null && !is_active" (click)="setStatus(1)" type="button"
                      class="btn btn-outline-success btn-sm btn-label waves-effect waves-light me-3">
                      Activer
                    </button>
                    <button *ngIf="is_active != null && is_active" (click)="setStatus(0)" type="button"
                      class="btn btn-outline-danger btn-sm btn-label waves-effect waves-light me-3">
                      Désactiver
                    </button>
                  </td>
                </tr>
                <tr>
                  <th></th>
                  <th scope="col">N°</th>
                  <th scope="col">Nom et Prénoms</th>
                  <th scope="col">Email</th>
                  <th scope="col">Profil</th>
                  <th scope="col">Date d'enregistrement</th>
                  <th scope="col">Statut</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let el of data
                      | sampleSearch: search_text
                      | paginate: {
                          id: 'ngxP1',
                          itemsPerPage: pg.pageSize,
                          currentPage: pg.p,
                          totalItems: pg.total
                        };
                    index as i
                  ">
                  <td>
                    <input type="radio" [value]="el" ngModel name="get" (change)="checked($event, el)" />
                  </td>
                  <td>{{ i + 1 }}</td>
                  <td>{{ el.agent_user == null ? ' ' : el.agent_user.nomprenoms }}</td>
                  <td>{{ el.email }}</td>
                  <td></td>
                  <td>{{ el.created_at | date: 'dd/MM/yyy hh:mm:ss' }}</td>
                  <td>
                    <span *ngIf="el.is_active" class="badge badge-success">Actif</span>
                    <span *ngIf="!el.is_active" class="badge badge-danger">Bloqué</span>
                  </td>
                </tr>
                <tr *ngIf="data.length == 0">
                  <td colspan="6" class="text-center bg-gray-100">Aucun éléments</td>
                </tr>
              </tbody>
            </table>
            <pagination-controls id="ngxP1" (pageChange)="getPage($event)" [maxSize]="9" [directionLinks]="true"
              [autoHide]="true" [responsive]="true" [previousLabel]="'Précédent'" [nextLabel]="'Suivant'"
              [screenReaderPaginationLabel]="'Pagination'" [screenReaderPageLabel]="'page'"
              [screenReaderCurrentLabel]="'Vous êtes sur la page'"></pagination-controls>
          </div>
          <!--end::Table-->
        </div>

        <!-- Modale pour ajouter un utilisateur -->
        <ng-template #content let-modal>
          <form #newForm="ngForm" (ngSubmit)="create(newForm.value)">
            <div class="modal-header bg-mat-primary d-flex align-items-center">
              <h5 class="modal-title text-white mb-0">
                Ajouter un utilisateur
              </h5>
              <button type="button" class="btn-close btn-close-white ms-auto" aria-label="Close" (click)="modal.dismiss('Cross click')">
                X
              </button>
            </div>
            <div class="modal-body">
              <div *ngIf="error" class="alert alert-danger my-1 alert-rounded">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="form-group row mb-3">
                <label class="col-md-4">Sélectionner l'acteur *</label>
                <div class="col-md-6">
                  <select class="form-control form-control-sm" #acteur="ngModel" maxlength="250" name="idAgent" ngModel
                    required>
                    <option [value]="e.id" *ngFor="let e of acteurs">
                      {{ e.nomprenoms }}
                    </option>
                  </select>
                  <span *ngIf="acteur.invalid && (acteur.dirty || acteur.touched)" class="text-danger">
                    <small *ngIf="acteur.errors?.['required']">
                      Acteur est requis
                    </small>
                    <small *ngIf="acteur.errors?.['maxlength']">
                      Acteur, pas plus de 250 caractères.
                    </small>
                  </span>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-md-4">Activé (e) *</label>
                <div class="col-md-6">
                  <input type="checkbox" name="statut" ngModel />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-md-4">Rôles *</label>
                <div class="col-md-6">
                  <select class="form-control form-control-sm" #idrole="ngModel" maxlength="250" name="role" ngModel
                    required>
                    <option [value]="e.name" *ngFor="let e of role">
                      {{ e?.name }}
                    </option>
                  </select>
                  <span *ngIf="idrole.invalid && (idrole.dirty || idrole.touched)" class="text-danger">
                    <small *ngIf="idrole.errors?.['required']">
                      Rôle est requis
                    </small>
                    <small *ngIf="idrole.errors?.['maxlength']">
                      Rôle, pas plus de 250 caractères.
                    </small>
                  </span>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-md-4">Institution *</label>
                <div class="col-md-6">
                  <select class="form-control form-control-sm" #idInstitution="ngModel" maxlength="250" name="idEntite"
                    ngModel required>
                    <option [value]="e.id" *ngFor="let e of institutions">
                      {{ e?.libelle }}
                    </option>
                  </select>
                  <span *ngIf="idInstitution.invalid && (idInstitution.dirty || idInstitution.touched)"
                    class="text-danger">
                    <small *ngIf="idInstitution.errors?.['required']">
                      Institution est requis
                    </small>
                    <small *ngIf="idInstitution.errors?.['maxlength']">
                      Institution, pas plus de 250 caractères.
                    </small>
                  </span>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-md-4">Email</label>
                <div class="col-md-6">
                  <input type="email" class="form-control form-control-sm" #email="ngModel" maxlength="250" required
                    name="email" ngModel />
                  <span *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                    <small *ngIf="email.errors?.['required']">
                      Email est requis
                    </small>
                    <small *ngIf="email.errors?.['maxlength']">
                      Email, pas plus de 250 caractères.
                    </small>
                  </span>
                </div>
              </div>

              <!-- <div class="form-group row mb-3">
                <label class="col-md-4">Sélectionner le role * </label>
                <div class="col-md-6">
                  <select class="form-control form-control-sm" #idrole="ngModel" maxlength="250" name="role" ngModel
                    required>
                    <option [value]="e.name" *ngFor="let e of role">
                      {{ e?.name }}
                    </option>
                  </select>
                  <span *ngIf="idrole.invalid && (idrole.dirty || idrole.touched)" class="text-danger">
                    <small *ngIf="idrole.errors?.['required']">
                      Role est requis
                    </small>
                    <small *ngIf="idrole.errors?.['maxlength']">
                      Role, pas plus de 250 caractères.
                    </small>
                  </span>
                </div>


              </div> -->


            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-dark" [disabled]="!newForm.form.valid || loading">
                Sauvegarder
                <app-loading [isVisible]="loading"></app-loading>
              </button>
            </div>
          </form>
        </ng-template>

        <!-- Modale pour modifier un utilisateur -->
        <ng-template #contentU let-modal>
          <form #updateForm="ngForm" (ngSubmit)="edit(updateForm.value)">
            <div class="modal-header bg-mat-primary d-flex align-items-center">
              <h4 class="modal-title text-white mb-0">
                Modifier un utilisateur
              </h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                X
              </button>
            </div>
            <div class="modal-body">
              <div *ngIf="error" class="alert alert-danger my-1 alert-rounded">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="form-group row mb-3">
                <label class="col-md-4">Sélectionner l'acteur *</label>
                <div class="col-md-6">
                  <select class="form-control form-control-sm" #acteur="ngModel" maxlength="250" name="idAgent"
                    [(ngModel)]="selected_data.idAgent" required>
                    <option [value]="e.id" *ngFor="let e of acteurs">
                      {{ e.nomprenoms }}
                    </option>
                  </select>
                  <span *ngIf="acteur.invalid && (acteur.dirty || acteur.touched)" class="text-danger">
                    <small *ngIf="acteur.errors?.['required']">
                      Acteur est requis
                    </small>
                    <small *ngIf="acteur.errors?.['maxlength']">
                      Acteur, pas plus de 250 caractères.
                    </small>
                  </span>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-md-4">Activé (e) *</label>
                <div class="col-md-6">
                  <input type="checkbox" name="statut" [(ngModel)]="selected_data.statut" />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-md-4">Rôles *</label>
                <div class="col-md-6">
                  <select class="form-control form-control-sm" #idrole="ngModel" maxlength="250" name="role"
                    [(ngModel)]="selected_data.idrole" required>
                    <option [value]="e.name" *ngFor="let e of role">
                      {{ e?.name }}
                    </option>
                  </select>
                  <span *ngIf="idrole.invalid && (idrole.dirty || idrole.touched)" class="text-danger">
                    <small *ngIf="idrole.errors?.['required']">
                      Rôle est requis
                    </small>
                    <small *ngIf="idrole.errors?.['maxlength']">
                      Rôle, pas plus de 250 caractères.
                    </small>
                  </span>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-md-4">Institution *</label>
                <div class="col-md-6">
                  <select class="form-control form-control-sm" #idInstitution="ngModel" maxlength="250" name="idEntite"
                    [(ngModel)]="selected_data.idInstitution" required>
                    <option [value]="e.id" *ngFor="let e of institutions">
                      {{ e?.libelle }}
                    </option>
                  </select>
                  <span *ngIf="idInstitution.invalid && (idInstitution.dirty || idInstitution.touched)"
                    class="text-danger">
                    <small *ngIf="idInstitution.errors?.['required']">
                      Institution est requis
                    </small>
                    <small *ngIf="idInstitution.errors?.['maxlength']">
                      Institution, pas plus de 250 caractères.
                    </small>
                  </span>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-md-4">Email</label>
                <div class="col-md-6">
                  <input type="email" class="form-control form-control-sm" #email="ngModel" maxlength="250" required
                    name="email" [(ngModel)]="selected_data.email" />
                  <span *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                    <small *ngIf="email.errors?.['required']">
                      Email est requis
                    </small>
                    <small *ngIf="email.errors?.['maxlength']">
                      Email, pas plus de 250 caractères.
                    </small>
                  </span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-dark" [disabled]="!updateForm.form.valid || loading">
                Sauvegarder
                <app-loading [isVisible]="loading"></app-loading>
              </button>
            </div>
          </form>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<!---Container Fluid-->