.container {
    height: 100vh;
  }
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: white !important;
  }
  mat-sidenav {
    width: 250px;
    background-color: #42358C;
    border-radius: none !important;
  }

  mat-expansion-panel{
    border-radius: none !important;

  }

  mat-toolbar{
    background-color: rgb(21, 15, 54);
    color: orange;
  }

  mat-sidenav-container{
    min-height: 100vh
  }

 mdc-list-item__primary-text {
    color: white !important;
  }
  