.main{
    background-color: orange;

}

/* .container-login{
    background-color: rgb(201, 228, 239);
    height: 100vh !important;
    width: 100 vw !important;
} */

.container-login{
    /* background-image: url('../../../../assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background: linear-gradient(105.27deg, rgba(22, 34, 51, 1) 1.84%, rgba(17, 132, 90, 1) 110.21%);
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}
