.main{
    background-color: orange;
    
}

/* .container-login{
    background-color: rgb(201, 228, 239);
    height: 100vh !important; 
    width: 100 vw !important;
} */

.container-login{
    background-image: url('../../../../assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}